[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://gitee.com/mirrors/pybind11.git
[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://gitee.com/mirrors/libuv.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://gitee.com/mirrors/googletest.git
[submodule "third_party/libnop"]
	path = third_party/libnop
	url = https://gitee.com/mirrors/libnop.git
[submodule "third_party/secure_c"]
	path = third_party/secure_c
	url = https://gitee.com/openeuler/libboundscheck.git
